<html>
   <head>
      <meta charset='UTF-8'>
      <style>
         .search {
         text-align: center;
         }
         .searchbar::placeholder {
        opacity: .3;
      }
         .searchbar:hover {
        width: 10rem;
        height: 2rem;
      }
      </style>
   </head>
   <body>
      <p align="center">Please enter the words to search</p>
      <form method='POST', class="search">
         <input type='text' placeholder='search words' name='input-data', class="searchbar">
         <br/>
          <br/>
         <input type='submit'>
      </form>
   </body>
</html>
